/*	CSS DOCUMENT
*	UTF-8
*/

/*  pro-rpico-modbus-rtu
*   webSCADA client / UI styles
*   AT09 (atgroup09@gmail.com), 2023
*
*   The JavaScript code in this page is free software: you can
*   redistribute it and/or modify it under the terms of the GNU
*   General Public License (GNU GPL) as published by the Free Software
*   Foundation, either version 3 of the License, or (at your option)
*   any later version.  The code is distributed WITHOUT ANY WARRANTY;
*   without even the implied warranty of MERCHANTABILITY or FITNESS
*   FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.
*
*   As additional permission under GNU GPL version 3 section 7, you
*   may distribute non-source (e.g., minimized or compacted) forms of
*   that code without the copy of the GNU GPL normally required by
*   section 4, provided you include this license notice and a URL
*   through which recipients can access the Corresponding Source.
*/


.ui-main-placeholder-loc {
	width: 1069px;
	margin: 0 auto;
	padding: 10px;
}


#LED_STATUS_t {
	left: 615px;
    top:  110px;
}

#LED_STATUS_bil {
	left: 650px;
    top:  130px;
}


#TEMP_t {
	left: 730px;
    top:  110px;
}

#TEMP_tbox {
	left: 760px;
    top:  130px;
}


#LED_CMD_t {
	left: 605px;
    top:  190px;
}

#LED_CMD_tbox {
	left: 605px;
    top:  210px;
}


#USER_16BIT_t {
	left: 775px;
    top:  190px;
}

#USER_16BIT_tbox {
	left: 760px;
    top:  210px;
}
